# Build artefacts
/extension/Makefile
/extension/Makefile.in
/extension/Makefile.objects
/extension/Makefile.fragments
/extension/modules/
/extension/libs/
/extension/src/*.o
/extension/src/*.lo
/extension/src/*.la
/extension/src/*.dep
/extension/src/.libs/
*.so
*.lo
*.la
/*.la
/*.so

# Autotools generated
/extension/aclocal.m4
/extension/autom4te.cache/
/extension/compile
/extension/config.guess
/extension/config.sub
/extension/config.h
/extension/config.h.in
/extension/config.cache
/extension/config.log
/extension/config.nice
/extension/config.status
/extension/configure
/extension/depcomp
/extension/install-sh
/extension/libtool
/extension/ltmain.sh
/extension/missing

# Rust / quiche build
/quiche/target/

# Temp/IDE
*~
*.swp
.DS_Store
.vscode/
.idea/
/build
/test_certs
/bin
azure-sp.json
/benchmarks/vendor

dump_code.sh
code.txt


/extension/build
/extension/configure.ac
/extension/run-tests.php
/extension/src/.libs
/extension/.libs
